client/node_modules
client/package-lock.json
client
.env
package-lock.json

client/build
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/.env

*.tmp/
*.swp/

.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

client/debug.log
Backend/debug.log